<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6bb71">  <td>20/08/10 17:21:15</td>   <td>0</td> <td title="&lt;&lt;BaseConfig.endReport()[pri:0, instance:com.yapo.test.PublicarVenta@6fdbe764]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150138649</td>   <td></td> </tr>
<tr bgcolor="a6bb71">  <td>20/08/10 17:20:50</td>   <td>-25413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseConfig.getDriver()[pri:0, instance:com.yapo.test.PublicarVenta@6fdbe764]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td>  <td>main@150138649</td>   <td></td> </tr>
<tr bgcolor="c3e77a">  <td>20/08/10 17:21:03</td>   <td>-12098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PublicarVenta.publicarVenta(com.yapo.entities.DatosPublicar)[pri:0, instance:com.yapo.test.PublicarVenta@6fdbe764]">publicarVenta</td> 
  <td>main@150138649</td>   <td></td> </tr>
<tr bgcolor="a6bb71">  <td>20/08/10 17:20:49</td>   <td>-25762</td> <td title="&gt;&gt;BaseConfig.setExtent()[pri:0, instance:com.yapo.test.PublicarVenta@6fdbe764]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150138649</td>   <td></td> </tr>
<tr bgcolor="a6bb71">  <td>20/08/10 17:21:15</td>   <td>-34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseConfig.tearDown()[pri:0, instance:com.yapo.test.PublicarVenta@6fdbe764]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@150138649</td>   <td></td> </tr>
</table>
